
label{
	color:whitesmoke;
	font-family: monospace;
}

body {
    background-image: url("./imagenes/imagen1.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


form{
	display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto
}

.p-mensaje{
	color: #ffff;
}